@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #f9fafb; /* Add a light background color */
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

@media (min-width: 1147px) {
  .hero-title {
    font-size: 96px;
    line-height: 1.104;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 0;
    will-change: transform, opacity;
  }
}

.hero-title {
  color: rgba(255, 255, 255, 0.1) !important;
}

@media (min-width: 1147px) {
  .hero-title1 {
    font-size: 40px;
    line-height: 1.104;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.1) !important;
    will-change: transform, opacity;
  }
}

.hero-title1 {
  font-size: 30px;
  line-height: 1.104;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.1) !important;
}

.ql-editor {
  font-size: 1.05rem;
}

@media (min-width: 1147px) {
  .jst {
    justify-content: start;
  }
}

.post-content p {
  margin-bottom: 1rem; /* Increase spacing between paragraphs */
}

.post-content h1 {
  font-size: 2.5rem; /* Increase font size for main headings */
  font-weight: 700; /* Increase font weight for main headings */
  font-family: "Arial", sans-serif; /* Change font family */
  margin: 2rem 0; /* Increase top and bottom margins for main headings */
}

.post-content h2 {
  font-size: 2rem; /* Increase font size for subheadings */
  font-family: "Arial", sans-serif; /* Change font family */
  margin: 1.5rem 0; /* Increase top and bottom margins for subheadings */
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

/* Shadows */
.shadow-dark {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.shadow-light {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1),
    0 1px 3px rgba(255, 255, 255, 0.08);
}

/* Rounded corners */
.rounded-dark {
  border-radius: 0.75rem;
}

.rounded-light {
  border-radius: 0.75rem;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 229, 140, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(66, 153, 225, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(66, 153, 225, 0);
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes border-pulse {
  0% {
    transform: scale(1);
    border-color: rgba(255, 229, 140, 0.7);
  }

  50% {
    transform: scale(1.05);
    border-color: rgba(255, 229, 140, 0.5);
  }

  100% {
    transform: scale(1);
    border-color: rgba(255, 229, 140, 0.7);
  }
}

.image-container {
  position: relative;
  will-change: transform;
}

.border-animation {
  margin-top: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  border-radius: 16px;
  pointer-events: none;
  animation: border-pulse 2s infinite;
}

.gradient-yellow-to-yellow {
  background: linear-gradient(90deg, #ffe58c 0%, #ffe58c 100%);
}

.blur {
  filter: blur(
    2px
  ); /* Adjust the value to control the strength of the blur effect */
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-body {
  position: relative;
  width: 90%;
  max-width: 900px;
  max-height: 90%;
  background: transparent; /* Remove background */
  padding: 20px;
  overflow-y: auto;
  border-radius: 10px;
  overflow-x: hidden !important;
}

.custom-modal-image {
  max-height: 80vh;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}